.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    // align-content: stretch;
    width: 100%;
    align-items: flex-start;
}

.flex-item {
    display: flex;
    flex-direction: column;
    // order: 0;
    // flex: 1 1 auto;
    // align-self: auto;
}
