.footer .footer-bottom {
    background: grey;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer .footer-bottom ul li a {
    line-height: 3rem;
    color: honeydew;
    position: relative;
    margin-left: 2.3rem;
    display: block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-title {
    color: honeydew;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer-title a {
    color: honeydew;
    font-size: 2rem;
    text-decoration: none;
}