.footer .footer-bottom {
    background: grey;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer .footer-bottom ul li a {
    line-height: 3rem;
    color: honeydew;
    position: relative;
    margin-left: 2.3rem;
    display: block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-title {
    color: honeydew;
    font-size: 20px;
    margin-top: 0.5rem;
}

.footer-title a {
    color: honeydew;
    font-size: 20px;
    text-decoration: none;
}

.flex-item {
    display: flex;
    align-content: center;
    width: 60rem;
}

.rSSLogo {
    width: 10rem;
    margin: 0 3rem;
    margin-top: 0.5rem;
}

.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
}