// @font-face {
//     font-family: 'Stencil';
//     src: url('./src/fonts/Stencil.eot');
//     src: url('./src/fonts/Stencil.eot?#iefix') format('embedded-opentype'),
//         url('./src/fonts/Stencil.woff2') format('woff2'),
//         url('./src/fonts/Stencil.svg#Stencil') format('svg');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Bernard MT Condensed';
//     src: url('./src/fonts/BernardMT-Condensed.eot');
//     src: url('./src/fonts/BernardMT-Condensed.eot?#iefix') format('embedded-opentype'),
//         url('./src/fonts/BernardMT-Condensed.woff2') format('woff2'),
//         url('./src/fonts/BernardMT-Condensed.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// .game {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 10px;
//     margin: 0 auto;
//     height: 95vh;
//     border-radius: 3vw;
//     background: linear-gradient(blue, white);
// }

// .puzzles {
//     width: 37vw;
//     height: 37vw;
//     display: grid;
//     grid-template: repeat(var(--sizePuzzles), 1fr) / repeat(var(--sizePuzzles), 1fr);
//     border-radius: 1vw;
//     border: 0.5vw solid brown;
//     background-color: darkslateblue;
// }

// .puzzles.win span{
//     position: absolute;
//     display: flex;
//     flex-wrap: wrap;
//     text-align: center;
//     align-content: center;
//     font-family: 'Bernard MT Condensed', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
//     font-size: 1.5vw;
//     color: #fff9;
//     z-index: 1;
// }

// .puzzle {
//     box-sizing: border-box;
//     font-family: 'Stencil', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
//     font-size: calc(16vw / var(--sizePuzzles));
//     font-weight: bold;
//     color: rgba(8, 8, 80, 0);
//     background: linear-gradient(220deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70%);
//     border: 0.5px solid;
//     outline: none;
//     cursor: move;
// }

// .puzzle:active {
//     background-color: rgb(3, 3, 110);
//     animation: shake 0.5s linear;
// }

// @keyframes shake {
//     0%,
//     100% {
//         transform: translateX(0);
//     }
//     10%{
//         transform: translateY(-0.2em) scale(1.15, 1.15);
//     }
//     20%,
//     30%{
//         transform: translateY(-0.2em) scale(1.13, 1.13);
//     }
//     40%,
//     50%,
//     60% {
//         transform: translateX(0.2em) scale(1.1, 1.1);
//     }
//     70%,
//     80% {
//         transform: translateY(0.1em) scale(1.05, 1.05);
//     }
//     90% {
//         transform: translateX(-0.1em) scale(1, 1);
//     }
// }
// .empty-puzzle {
//     font-size: 0px;
//     background-color:  darkslateblue;
//     border: calc(37vw/var(--sizePuzzles)/2.5) solid darkslateblue;
//     border-radius: 50%;
//     cursor: default;
// }

// .empty-puzzle:active {
//     background-color:  darkslateblue;
// }

// .puzzle.over {
//     border: 3px dotted rgb(160, 110, 110);
//     border-radius: 0;
//     font-size: 0px;
//     background-color:  darkslateblue;
//   }

// .dashboard {
//     display: grid;
//     justify-content: center;
//     align-content: space-around;
//     width: 11vw;
//     height: 37vw;
//     display: grid;
//     border-radius: 1vw;
//     border: 0.5vw solid brown;
//     background: linear-gradient(0.25turn, darkslateblue, rgb(117, 201, 240), blue);
// }

// .reset {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     box-sizing: border-box;
//     font-family: 'Stencil', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
//     font-size: 2.5vw;
//     font-weight: bold;
//     width: 10vw;
//     height: 4vw;
//     color: rgba(8, 8, 80, 0.8);
//     text-shadow: 0.2vw 0.2vw 0.1vw blue;
//     background: linear-gradient(45deg, red, blue);
//     border-color: darkmagenta;
//     border-radius: 1vw;
//     outline: none;
//     cursor: move;
//     transition: all 0.3s;
//     cursor: pointer;
// }

// .reset:hover {
//     background-color: rgb(3, 3, 110);
// }

// .time {
//     display: flex;
//     justify-content: flex-start;
//     padding-left: 1.5vw;
//     align-items: center;
//     box-sizing: border-box;
//     font-family: 'Stencil', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
//     font-size: 2.5vw;
//     font-weight: bold;
//     width: 10vw;
//     height: 4vw;
//     color: rgba(8, 8, 80, 0.8);
//     text-shadow: 0.2vw 0.2vw 0.1vw blue;
//     background: linear-gradient(90deg, blue, red);
//     border-color: darkmagenta;
//     border-radius: 1vw;
//     outline: none;
// }

// .move, .select-size, .records, .solve {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     box-sizing: border-box;
//     font-family: 'Stencil', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
//     font-size: 2.4vw;
//     font-weight: bold;
//     width: 10vw;
//     height: 4vw;
//     color: rgba(8, 8, 80, 0.8);
//     text-shadow: 0.2vw 0.2vw 0.1vw blue;
//     background: linear-gradient(180deg, blue, red);
//     border-color: darkmagenta;
//     border-radius: 1vw;
//     outline: none;
// }

// .solve {
//     cursor: pointer;
// }

// .solve:active {
//     background: linear-gradient(-180deg, orange, blue);
// }

// .records {
//     font-size: 1.9vw;
//     cursor: pointer;
// }

// .records option {
//     font-family: 'Bernard MT', monospace;
//     font-size: 1.5vw;
// }

// .records {
//     order: -1;
// }

// .move::before {
//     font-size: 2.0vw;
// }

// .select-size {
//     padding-left: 0.6vw;
//     cursor: pointer;
// }

// .select-size option {
//     background-color: cornflowerblue;
// }

// .move::before { 
//     content: 'ХОДЫ: ';
// }

// .save {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     box-sizing: border-box;
//     font-family: 'Stencil', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
//     font-size: 2.5vw;
//     font-weight: bold;
//     width: 10vw;
//     height: 4vw;
//     color: rgba(8, 8, 80, 0.8);
//     text-shadow: 0.2vw 0.2vw 0.1vw blue;
//     background: linear-gradient(-180deg, red, blue);
//     border-color: darkmagenta;
//     border-radius: 1vw;
//     outline: none;
//     cursor: move;
//     transition: all 0.3s;
//     cursor: pointer;
// }

// .save:active {
//     background: linear-gradient(-180deg, orange, blue);
// }

// .tone {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     box-sizing: border-box;
//     font-family: 'Stencil', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
//     font-size: 2.5vw;
//     font-weight: bold;
//     width: 10vw;
//     height: 4vw;
//     color: rgba(8, 8, 80, 0.8);
//     text-shadow: 0.2vw 0.2vw 0.1vw blue;
//     text-decoration: line-through;
//     background: linear-gradient(-180deg, red, blue);
//     border-color: darkmagenta;
//     border-radius: 1vw;
//     outline: none;
//     cursor: move;
//     transition: all 0.3s;
//     cursor: pointer;
// }

// .tone.tone--active {
//     text-decoration: none;
// }

// .select-size:hover, .records:hover, .solve:hover, .tone:hover, .reset:hover, .save:hover {
//     opacity: 0.8;
//     transition: all 1s;
// }

// @media (max-width: 1279px){
//     .game {
//         align-content: flex-start;
//     }

//     .puzzles {
//         width: 40vw;
//         height: 40vw;
//     }

//     .puzzle { 
//         font-size: calc(20vw / var(--sizePuzzles));
//     }

//     .empty-puzzle {
//         font-size: 0px;
        
//     }
    
//     .puzzle.over {
//         font-size: 0px;
//       }

//     .dashboard {
//         height: 40vw;
//     }

//     .select-size {
//         padding-left: 0.1vw;
//     }

//     .records option {
//         font-family: 'Bernard MT Condensed', 'Courier New', 'Courier обычный', monospace;
//         font-size: 2vw;
//     }
    
// }

// @media (max-width: 1000px){
//     .game {
//         align-content: flex-start;
//     }

//     .puzzles {
//         width: 45vw;
//         height: 45vw;
//     }

//     .puzzle { 
//         font-size: calc(23vw / var(--sizePuzzles));
//     }

//     .empty-puzzle {
//         font-size: 0px;
//         border: calc(37vw/var(--sizePuzzles)/2.3) solid darkslateblue;
//     }
    
//     .puzzle.over {
//         font-size: 0px;
//       }

//     .dashboard {
//         height: 45vw;
//     }

    
// }

// @media (max-width: 767px){

//     .game {
//         display: grid;
//     }

//     .puzzles {
//         width: 65vw;
//         height: 65vw;
//     }

//     .puzzles.win span{
//         font-size: 2.5vw;
//     }

//     .dashboard {
//         grid-template: repeat(4, 1fr) / repeat(4, 1fr);
//         align-content: flex-start;
//         justify-content: space-around;
//         gap: 0.5vw;
//         width: 65vw;
//         height: 11vw;
//     }

//     .puzzle { 
//         font-size: calc(25vw / var(--sizePuzzles));
//     }

//     .empty-puzzle {
//         font-size: 0px;
//         border: calc(37vw/var(--sizePuzzles)/1.5) solid darkslateblue;
//     }
    
//     .puzzle.over {
//         font-size: 0px;
//     }

//     .reset, .time, .move, .save, .select-size, .tone, .records, .solve {
//         width: 100%;
//         height: 90%;
//         font-size: 4vw;
//     }

//     .select-size {
//         font-size: 3.5vw;
//     }

//     .time {
//         padding-left: 1.8vw;
//     }

//     .move {
//         font-size: 3.5vw;
//     }
//     .move::before {
//         font-size: 3vw;
//     }
// }

// @media (max-width: 700px){

//     .puzzles {
//         width: 70vw;
//         height: 70vw;
//     }

//     .puzzle { 
//         font-size: calc(30vw / var(--sizePuzzles));
//     }

//     .empty-puzzle {
//         font-size: 0px;
//     }
    
//     .puzzle.over {
//         font-size: 0px;
//       }

//     .dashboard {
//         width: 70vw;
//     }
        
//     .reset, .time, .move, .save, .select-size, .tone, .records, .solve {
//         font-size: 3.5vw;
//     }

//     .move, .select-size {
//         font-size: 3.1vw;
//     }

//     .move::before {
//         font-size: 2.7vw;
//     }

//     .records option {
//         font-size: 2.5vw;
//     }
// }

// @media (max-width: 600px){

//     .puzzles {
//         width: 80vw;
//         height: 80vw;
//     }

//     .puzzles.win span{
//         font-size: 3vw;
//     }

//     .puzzle { 
//         font-size: calc(37vw / var(--sizePuzzles));
//     }

//     .empty-puzzle {
//         font-size: 0px;
//         border: calc(37vw/var(--sizePuzzles)/1.2) solid darkslateblue;
//     }
    
//     .puzzle.over {
//         font-size: 0px;
//       }


//     .dashboard {
//         width: 80vw;
//     }
    
//     .reset, .time, .move, .save, .select-size, .tone, .records, .solve {
//         font-size: 4vw;
//     }

//     .time {
//         padding-left: 2.5vw;
//     }

//     .move,.select-size {
//         font-size: 3.5vw;
//     }
// }

// @media (max-width: 500px){

//     .puzzles {
//         width: 90vw;
//         height: 90vw;
//     }

//     .puzzles.win span{
//         font-size: 3.5vw;
//     }

//     .puzzle { 
//         font-size: calc(40vw / var(--sizePuzzles));
//     }

//     .empty-puzzle {
//         font-size: 0px;
//         border: calc(37vw/var(--sizePuzzles)/1.3) solid darkslateblue;
        
//     }
    
//     .puzzle.over {
//         font-size: 0px;
//       }


//     .dashboard {
//         width: 90vw;
//     }

//     .reset, .time, .move, .save, .select-size, .tone, .records, .solve {
//         font-size: 4vw;
//     }

//     .time {
//         padding-left: 4vw;
//     }

//     .move, .select-size {
//         font-size: 3.5vw;
//     }
// }