header {
    background-color: aqua;
}

.top-bar {
    padding: 1.2rem;
    border-bottom: 0.04rem solid green;
    min-height: 4rem;
}

.main-header {
    padding: 2rem 0 2.5rem;
}

.site-title {
    color: honeydew;
}

.header-nav {
    background-color: greenyellow;
}

.header-nav li {
    display: inline-block;
    padding: 1.5rem 2.5rem 1.5rem;
}

.header-nav li a, .header-nav li a:visited {
    color: white;
    text-decoration: none;
    display: block;
}

.header-nav li a:hover { 
    background: greenyellow;
}