.header-nav {
    background-color: greenyellow;
}

.header-nav li {
    display: inline-block;
    padding: 1.5rem 2.5rem 1.5rem;
}

.header-nav li a, .header-nav li a:visited {
    color: white;
    text-decoration: none;
    display: block;
}

.header-nav li a:hover { 
    background: greenyellow;
}

.selectStock {
    display: flex;
}

.listCountries {
    width: 30%;
    background: orange;
    border: brown solid 1px;
    border-radius: 1rem;
}

[data=mySearch] {
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid #ddd;
    outline: none;
}
  
  /* Style the navigation menu */
#myMenu {
    height: 30rem;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

#myMenu li {
    display: flex;
}

/* Style the navigation links */
#myMenu li a {
    padding: 1rem;
    text-decoration: none;
    color: black;
    display: flex;
    overflow: hidden;
}

#myMenu li a:hover, #myMenu li a:focus {
    background-color: #eee;
}

.use-keyboard-input {
    margin-top: 1rem;
    height: 4rem;
    resize: none;
  
  }