.block {
    position: relative;
    padding: 2rem 1.5rem 2rem 2rem;
    border: 0.1rem solid beige;
    border-top: 0.1rem solid burlywood;
    background: cornsilk;
    // margin: 2rem;
    width: 120rem;
}

.block div {
    // margin-bottom: 2rem;
}

// .block flex-item {
//     display: flex;
//     flex-direction: row;
// }


.block .stock-in, .block .stock-out {
    font-size: 2rem;
    text-align: right;
}

.stock-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    // align-content: stretch;
    width: 100%;
    align-items: flex-start;
}
